/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Rational
-------------------------------------------------- */

/* Webfont: Rational-Regular */

@font-face {
  font-family: 'Rational';
  src: url('../fonts/rational/30B4C1_2_0.woff2') format('woff2'),
       url('../fonts/rational/30B4C1_2_0.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Rational-Italic */

@font-face {
  font-family: 'Rational';
  src: url('../fonts/rational/30B4C1_1_0.woff2') format('woff2'),
       url('../fonts/rational/30B4C1_1_0.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Rational-SemiBold */

@font-face {
  font-family: 'Rational';
  src: url('../fonts/rational/30B4C1_11_0.woff2') format('woff2'),
       url('../fonts/rational/30B4C1_11_0.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Rational-SemiBoldItalic */

@font-face {
  font-family: 'Rational';
  src: url('../fonts/rational/30B4C1_E_0.woff2') format('woff2'),
       url('../fonts/rational/30B4C1_E_0.woff') format('woff');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: rgb(255, 104, 104);
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: "Rational", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 1em;
  max-width: 50em;
  background: #fff5f0;
  color: #222;
}


/* Header
-------------------------------------------------- */
.header {
  border-bottom: 4px solid rgb(255, 104, 104);
  margin-bottom: 3em;
}
.logo {
  display: block;
  margin-bottom: 1.5em;
}
.logo img {
  width: 2em;
}


/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: rgb(255, 104, 104);
  text-decoration: none;
}
.menu .active {
  color: rgb(255, 104, 104);
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .66em .33em;
  margin: 2px 0;
  /* border-top: 1px solid rgba(171, 164, 161, 0.33); */
  background: rgba(255, 255, 255, 0.75);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid rgb(255, 104, 104);
}
.submenu li {
  border-bottom: 2px solid #fff5f0;
}
.submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 400;
  color: #fff;
  background: rgb(255, 104, 104);
  white-space: nowrap;
}
.submenu a:hover {
  background: rgb(235, 96, 97);
  color: #fff;
}

@media screen and (min-width: 40em) {
  body {
    padding: 3em;
    font-size: 1.25em;
  }
  .logo {
    float: left;
  }
  .menu {
    float: right;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    margin-left: .35em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: normal;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: normal;
  margin-bottom: .5em;
  color: rgb(255, 104, 104);
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: normal;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: rgb(255, 104, 104);
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid rgb(255, 104, 104);
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: rgba(171, 164, 161, 0.33);
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main p{
  max-width: 38em;
}
.main blockquote{
  max-width: 25em;
}
.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

.text ul li,
.text ol li {
  margin-bottom: 0.5em;
  max-width: 38em;
}

.text ul {
  list-style: none;
}

.text ul li {
  padding-left: 0em;
  text-indent: -1em;
}

.text ul li:before {
  content:"– "
}

/* Block Quotes */
blockquote {
  font-style: italic;
  font-size: 1.4em;
  line-height: 1.3;
}

/* Persona Images */
.persona {
  max-width: 30%;
  float: right;
  margin-left: 2em;
  margin-top: 0.5em;
}


/* Project meta
-------------------------------------------------- */
.meta {
  margin: 2em 0 0;
  font-style: italic;
  overflow: hidden;
}

.meta__col {
  margin-bottom: 1em;
}

@media screen and (min-width: 50em) {
  .meta__col {
    float: left;
    width: 50%;
    margin-bottom: 0;
  }
}

.meta li {
  list-style: none;
  color: rgb(255, 104, 104);
  display: inline-block;
}

.meta li:after {
    content: ", ";
}
.meta li:last-child:after {
    content: "";
}

.meta li b {
  font-weight: normal;
  color: #222;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  font-size: 0.9em;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
  overflow: hidden;
}
.teaser img {
  max-width: 100px;
  float: left;
  margin-right: 1em;
}
.teaser h3 {
  margin-bottom: 0;
}

@media screen and (min-width: 50em) {
  .teaser {
    font-size: 0.8em;
    line-height: 1.4em;
  }
  .teaser li {
    float: left;
    width: 22%;
    margin-left: 4%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
  .teaser img {
    float: none;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 0.5em;
  }

}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-style: italic;
}
.copyright {
  float: left;
}